
.temperatureStuff{
  margin-bottom: 10px;
}

select.temperatureStuff{
  height: 50px;
  font-size: 20px;
  border-radius: 0;
  max-width: 70px;
  padding: 6px;
  display:inline;
}

#into{
  font-size: 20px;
  text-align: center;
}

#temperature{
  display:inline;
}

