* {

    font-family: Roboto, sans-serif;
}

p{
    margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: inherit;
}

.navbar {
    background-color: #d8d8d8;
    color: #FFFFFF;
}

#footer{
	color: #808080;
	margin-top: 25px;
	text-align: center;
}


.btn{
	background-color: #0074d9;
	height: 50px;
}

.btn:hover{
	background-color: #00569e;
}

#inputFormula{
	height: 50px;
	font-size: 20px;
	min-width: 300px;
}

h1{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:0px;
}

h2{
	margin-top: 0px;
}

div.about{
	text-align: left;
}

.row{
	text-align: center;
}

div.row.about {
	text-align: left;
}


.bg-danger {
	border-radius: 3px;
	text-align: center;
	padding: 10px 4px 10px 4px;
}

.navbar-brand{
	color: #888888;
}