* {
  font-family: Roboto, sans-serif;
}

/* Navbar stuff. */
.navbar{
  border-radius: 0;
  background-color:#0074d9;
  border: none;
}

/* Navbar button on mobile. */
button.navbar-toggle, .navbar-default .navbar-toggle:focus{
  background-color: #0074d9;
  color: #FFFFFF;
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover{
  background-color: #00569e;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #FFFFFF;
  border-radius: 0;
}

.navbar-default .navbar-collapse{
  border: none;
}


/* Links */
.navbar-default .navbar-brand{
  color: #FFFFFF;
  font-size: 1.4em;
}
.navbar-default .navbar-brand:hover{
  color: #e6e6e6;
}

.navbar-default .navbar-nav li a{
  color: #FFFFFF;
  font-size: 1.1em;
}

.navbar-default .navbar-nav li a:hover{
    background-color: #0060aa;
  color: #e6e6e6;
}

#active{
  background-color:#00569e;
  color: #FFFFFF;
}

#active:hover{
  color: #e6e6e6;
}

/* END OF NAVBAR CSS */
a:hover{
    text-decoration: none;
}

p{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: inherit;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  padding-top:0;
}

h2{
  margin-top: 0;
}

div.about{
  text-align: left;
}

.row{
  text-align: center;
}


.bg-danger {
  border-radius: 1px;
  text-align: center;
  padding: 10px 4px 10px 4px;
}


#footer{
  color: #808080;
  margin-top: 25px;
  text-align: center;
}

/* Buttons */
.btn{
  height: 50px;
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.submit, .submit:focus{
  background-color: #0074d9;
}

.submit:hover{
  background-color: #00569e;
}

.help, .help:focus{
  background-color: #FFFFFF;
}

.help:hover{
  background-color: #e6e6e6;
}

.inputField{
  height: 50px;
  font-size: 20px;
  min-width: 100px;
  border-radius: 0;
}

/* Accordion Dropdowns */
.panel-heading{
  padding:0;
}

#aTitle{
  text-decoration: none;
  display:block;
  color: black;
  padding: 10px 15px 10px 15px;
}

#aTitle:hover{
  color: #777;
}

.panel-body{
  padding-left: 5px;
  padding-right: 5px;
}

td, th{
  text-align: center;
}

/* Removes arrows from input type = number*/
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
     margin: 0;
}