* {
    font-family: Roboto, sans-serif;
}


/* Navbar stuff. */
.navbar{
  width: 100%;
  border-radius: 0px;
  background-color:#0074d9;
}

/* Navbar button on mobile. */
button.navbar-toggle{
  background-color: #0074d9;
  color: #FFFFFF;
  border-radius: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #00569e;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #FFFFFF;
  border-radius: 0px;
}

.navbar-default .navbar-collapse{
  border: none;
}


/* Links */
.navbar-default .navbar-brand{
	color: #FFFFFF;
	font-size: 1.4em;
}
.navbar-default .navbar-brand:hover{
    color: #d4d4d4;
}

.navbar-default .navbar-nav li a{
  color: #FFFFFF;
  font-size: 1.1em;
}

.navbar-default .navbar-nav li a:hover{
  color: #d4d4d4;
}

#active{
  background-color:#00569e;
  color: #FFFFFF;
}
  
#active:hover{
  color: #d4d4d4;
}
  
/* END OF NAVBAR CSS */


p{
    margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: inherit;
}

#footer{
	color: #808080;
	margin-top: 25px;
	text-align: center;
}


.btn{
	height: 50px;
	border-radius: 0px;
}

.submit{
	background-color: #0074d9;
}

.submit:hover{
	background-color: #00569e;
}

.inputField{
	height: 50px;
	font-size: 20px;
	min-width: 100px;
	border-radius: 0px;
}

#unit1{
	height: 50px;
	font-size: 20px;
	border-radius: 0px;
    max-width: 70px;
    display:inline;
}

#unit2{
	height: 50px;
	font-size: 20px;
	border-radius: 0px;
    max-width: 70px;
    display:inline;
}

#into{
    font-size: 20px;
    text-align: center;
}

h1{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:0px;
}

h2{
	margin-top: 0px;
}

div.about{
	text-align: left;
}

.row{
	text-align: center;
}


.bg-danger {
	border-radius: 1px;
	text-align: center;
	padding: 10px 4px 10px 4px;
}



.panel-body{
  padding-left: 5px;
  padding-right: 5px;
}

#aTitle{
  text-decoration: none;
  color: black;
}

#aTitle:hover{
  color: #777;
}

#temperature{
  display:inline;
}

.temperatureStuff{
  margin-bottom: 10px;
}


#cSubmit{
  padding-left: 8px;
  padding-right: 8px;
}

#cHelp{
  padding-left: 8px;
  padding-right: 8px;
}

