<!DOCTYPE html>
<html ng-app="FirstYear" lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>Molar Mass Calculator</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:500,400' rel='stylesheet' type='text/css'>
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/ui-bootstrap-tpls-0.11.2.min.js"></script>    
</head>

<!--Navbar-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MolarFast</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/about.html">About</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body ng-controller="MainCtrl">    
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-xs-12 col-md-10 col-md-offset-1">
				<img class = "img-responsive center-block" src = "http://i.imgur.com/Pw9Ippn.png">
				<p class = "bg-danger">
				<strong>WARNING</strong>: MolarFast is still in development. If the answer you receive seems wrong, it probably is. 
					We suggest you check with <a href="http://wolframalpha.com">Wolfram|Alpha</a>.</p>
			</div>
		</div>

		<div class = "row">
			<!-- Molar Mass Calculations -->
			<div class = "col-xs-12">
				<h1>Molar Mass Calculator</h1>
				<p>Enter your chemical formula below.</p>
				<form class="form-inline" role="form">					
					<div class="form-group">
						<input class="form-control" id="inputFormula" placeholder="Chemical Formula" ng-model = "rawFormula">
					</div>
					<button type="submit" class="btn btn-primary" ng-click = findMolarMass(rawFormula)>Find Molar Mass!</button>
				</form>
				<p ng-if="finalMolarMass != null">The Molar Mass for {[{originalFormula}]} is {[{finalMolarMass}]} g/mol.</p>
			</div>
			<div class = "col-xs-12 col-md-4 col-md-offset-4">
					<p ng-if="isError != null" class = "bg-danger">Check your formula!</p>
			</div>
		</div>
		
		<div class = "row">
			<!-- Time stuff. -->
			<div class = "time col-xs-12">
				<h2>Time at the moment.</h2>

				<button ng-click = "displayDate()" type = "button" class = "btn btn-default">Display Date</button>
				<p ng-if="dateData!=null">Today is {[{date}]} and the time is {[{time}]} UTC.</p>
				<p id = "footer">Made with love.</p>
			</div>
		</div>
		
		
	</div> <!--Container-->
</body>
</html>