<!DOCTYPE html>
<html ng-app="FirstYear" lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>Molar Mass Calculator</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:500,400' rel='stylesheet' type='text/css'>
	
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/ui-bootstrap-tpls-0.11.2.min.js"></script>
</head>

<!--Navbar-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MolarFast Alpha</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/about.html">About</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body ng-controller="MainCtrl">    
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-xs-12 col-md-8 col-md-offset-2">
				<img class = "img-responsive center-block" src = "http://i.imgur.com/Pw9Ippn.png">
				<p class = "bg-danger">
				<strong>WARNING</strong>: MolarFast is still in development.
					As of now, most chemical formulas should work, with the exception of hydrates. Issues can be found/reported on
					<a href = "http://github.com/DeonHua/MolarFast/issues">GitHub</a>.</p>
			</div>
		</div>

		<div class = "row">
			<!-- Molar Mass Calculations -->
			<div class = "col-xs-12">
				<h1>Molar Mass Calculator</h1>
				<h2><small>Enter your chemical formula below.</small></h2>
				
				<p>MolarFast takes unformatted input - no subscripts are required.</p>
				<p>For Al(NO<sub>2</sub>)<sub>3</sub>, simply put Al(NO2)3!</p>

				<form class="form-inline" role="form">					
					<div class="form-group">
						<input class="form-control" id="inputFormula" placeholder="Chemical Formula" ng-model = "rawFormula">
					</div>
					<button type="submit" class="btn btn-primary" ng-click = findMolarMass(rawFormula)>Find Molar Mass!</button>
				</form>
				<p ng-if="finalMolarMass != null">The Molar Mass for {[{originalFormula}]} is {[{finalMolarMass}]} g/mol.</p>
			</div>

			<div class = "col-xs-12 col-md-4 col-md-offset-4">
					<p ng-if="isError != null" class = "bg-danger">{[{error}]}</p>
			</div>

		</div>
		
		<p id = "footer">Made with love.</p>
		
		
	</div> <!--Container-->
</body>

<!-- Tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57076335-1', 'auto');
  ga('send', 'pageview');
</script>

</html>